nav ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

nav ul li a{
	background: #151515;/* darkish black*/
	display: block;
	text-decoration: none;
	color: #FFF;
}

nav ul li.left a{	/*this controls menu logo*/
padding:0 0 0.5em 0;
margin:0 0 0 3em;
/*position: absolute;*/  /*this will make nav logo pop out of its container if it has to*/
/*background: #010214;*/ /*provides good contrast, but looks ugly*/
}

nav ul li.right{
	margin: 4.5em 0 3em 0;
	border-top: 1px solid #FDFDCE;
	border-bottom: 1px solid #FDFDCE;
}

nav ul li.right a{						/*this controls how the nav menu links look, excluding the pic*/
	padding: 1.5em 3.5em 1.5em 3.5em;
	font-weight: bold;
	color: #FDFDCE;
}

/*nav ul li:last-child{					make lines stick out in the nav links
	padding-left: 5em;
}
*/
nav ul li.right a:hover{
	background: #2B2A2A;
}

nav ul li a.active{
	background: #0B0B0B;/*dark black*/
}

nav{
	background: #151515;/* darkish black*/
	overflow: auto;
}


.left {
	float: left;
}

.right {	
	float: right;

}

#pad{							/*extra padding at end of nav for decorative putposes*/
	height: 2em;
	border-top: 1px solid white;
	position: relative;
	top:0;
	margin-top: 15em;
	clear:both;
}

#social{
	margin:-6em 0 0 0;
	position: absolute;
	right: 0;
}

ul li.secondary{			/*removes ul bullets from social media links*/
	list-style: none;
}

ul li img.social{
	margin-right: 2em;
	border-radius: 25px;
	box-shadow: inset -1px -1px 1px rgba(255,255,255,0.5),inset 1px 1px 1px rgba(255,255,255,0.1) ;
}

.absolute{
	position: absolute;
	right: 0;
	background: transparent;
}

.absolute p{
	font-weight: bold;
	color: #F6EA32;
	padding: 1em 0.5em 0 0;
}

#content{
	clear: both;
}


footer{
	clear: both;
	text-align: center;
}

footer ul li{
	list-style: none;
	display: inline-block;
}

footer ul li a{
	text-decoration: none;
	margin: 0 0.4em 0 0.4em;
}