/************************************
Style Sheet for menu.php

author: Khai Nguyen
description: Format the menu contents
*************************************/

#content
{
   background-color: #FFFFFF;
   padding: 20px 10px;
   overflow: auto;
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    /*
	.tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
	*/
	
	.tab-links {
		float: left;
		margin: 4px 0 0 0;
		width: 130px;
	}
	
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
					  margin-top: 5px;
            padding:10px 13px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#B3000C;
            font-size:16px;
            font-weight:600;
            color:#FFFBFB;
            transition:all linear 0.15s;
			      width: 70px;
        }
 
        .tab-links a:hover {
            background:#5C0E00;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#FFFFFF;
        color:black;
		text-decoration:none;
    }
 
    /*----- Content of Tabs -----*/
    /*
	.tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
	*/
	
	.tab-content {
	    min-height: 300px;
        margin: 0 1em 0 6.25em;
        padding:20px;
        //border-radius:3px;
        //box-shadow:-1px 1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
		
	}
	
	.tab-content hr {
		width: 98%;
		color:#4B0C00;
	}
	
	.tab-content span {
		float:right;
		
	}

	.tab-content p {
		font-weight: bold;
		color:#4B0C00;
	}
	
	.promotionImages,.promotionImages2,.promotionImages3,.promotionImages4 {
		display:inline;
		text-align: center;
	}
	
	.promotionImages div {
		float:left;
		padding: 1em 0.6em 0.5em 0.9em;
	}
	
	.promotionImages2 div {
		float:left;
		padding: 1em 0.5em 0.5em 0.65em;
	}
	
	.promotionImages3 div {
		float:left;
		padding: 1em 0.6em 0.5em 0.9em;
	}
	
	.promotionImages4 div {
		float:left;
		padding: 1em 0.6em 0.5em 0.9em;
	}
	
	.menuDetail {
		padding: 1em 0em 0em 0em;
		font-size: 0.8em;
		color: #783F00;
	}
	
	.food {
		color:#4B0C00;
		padding-top:1em;
		font-style:italic;
		font-family: "Myriad pro Semibold";
	}
	
	#tab1 div,#tab2 div,#tab3 div,#tab4 div {
		margin: 0 1em 0 1em;
    }
	
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }