/*
*Author: Kevin Duong
*Description: css for order and confirmation page
*/
* {
	margin-bottom: 0;
}

.leftCol {
	float: left;
	background: white;
}
.rightCol {
  background:green;
}

.wrapper {

	margin-left: 10%;
	margin-right: 10%;
  min-height: 100vh;

}

.leftCol {
	background:black;

}
.tabs {
	list-style: none;
}

.tabs li {
	background: black;
	color: white;
	padding: 10px 30px 10px 30px;
  border-style: groove solid 1px black;
	border:1px solid black;
	font-style: italic;
}

.tabs li.active {
	  background: #B3000C;
}

.tabs li:hover {
	  background: #B3000C;
}

.hide {
	display: none;
}


.content li {
	list-style: none;
}

.menu {
	margin-left: 15%;
}


.menu p {
	padding-left: 10px;
	padding-top: 10px;
}
.menuTitle {
	font-size: 1.4em;
	font-weight: bold;
}

dt {
	padding: 20px 30px 20px 10px;
}

dd {
	width: 35%;
}

.price {
	padding-left: 20px;
	float: right;
	text-align: justify;
}

.content div {
  padding-top: 10px;
	padding-bottom: 5px;
}

.cart {
	float: right;
	padding-right: 5%;
	padding-left: 5%;
	background: black;
	color: white;
	min-height: 100vh;
	height: 100%;
}

.cart li {
	list-style: none;
}

.menu a {
	color: #B3000C;
}

.menu a:visited {
	color: #B3000C;
}

.typeHr {
	width: 40%;
}

#main {
	margin-left: 10%;
	margin-right: 10%;

}
