/**
*Author: Mingtau Li
*Description: stylesheet for image slider
*/
#slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding:0;
  clear:both; /*custom*/
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 500px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 500px;
  background: #000  ;
  text-align: center;
  line-height: 300px;
}

#slider ul li p{
  font-size: 4em;
  color: white;
  position: absolute;
  top:63%;
  line-height:1;
  width: 50%;
  left: 25%;
  text-align: center;
  font-weight: bold;
  background: rgba(0,0,0,0.7);
  padding: 0.2em 0 0.2em 0;
}


/*-------------------------------------------------------------------------------------------*/

.previous, .next {
  position: absolute;
  top: 40%;
  z-index: 5;
  display: block;
  padding: 2% 1%;
  width: auto;
  height: auto;
  background: rgba(42,42,42,0.8 );
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  opacity:0.5;
}

.previous:hover, .next:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
}

.previous img, .next img{
  position:relative;
  top:20%;
  left:10%;
}

.next {
  right: 0;
}

#pagination{
  height: 3em;
  position: relative;
 /* background: #151515;*/
  background: rgba(0,0,0,0.9);
  border-top: 1px solid red;
  text-align: center;
}

#pagination #select ul li{
  display: inline-block;
  margin: 1em 0.3em 0 0.3em;
  padding:6px;
  background: url(images/dot.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow:auto;
  cursor: pointer;
}

#pagination #select ul li.selected{
  background: url(images/dot2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  padding:6px;
 }


#toggle{
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 100px;
   position: absolute;
  z-index:4;
  margin: 2em 0 0 2em;
}


.play{
  background: url(images/play.png);
}

.pause{
  background: url(images/pause.png);
}

